* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh
}

body {
  background: hsla(197, 14%, 57%, 1);

  background: linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8399a2", endColorstr="#eef2f3", GradientType=1 );
}